In [ ]:
# -*- coding:utf-8 -*-  
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
data1=pd.read_csv('E:/kaggle数据/PPD/Training Set/PPD_LogInfo_3_1_Training_Set.csv')
data2=pd.read_csv('E:/kaggle数据/PPD/Training Set/PPD_Training_Master_GBK_3_1_Training_Set.csv',encoding='gb18030')
data3=pd.read_csv('E:/kaggle数据/PPD/Training Set/PPD_Userupdate_Info_3_1_Training_Set.csv')

In [3]:
data1.head()

     Idx Listinginfo1  LogInfo1  LogInfo2    LogInfo3
0  10001   2014-03-05       107         6  2014-02-20
1  10001   2014-03-05       107         6  2014-02-23
2  10001   2014-03-05       107         6  2014-02-24
3  10001   2014-03-05       107         6  2014-02-25
4  10001   2014-03-05       107         6  2014-02-27

In [4]:
data2.head()

,Idx,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,...,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target,ListingInfo
0,10001,1.0,深圳,4.0,深圳,NaN,1.0,NaN,1.0,1.0,...,222,-1,0,0,0,0,0,1,0,2014/3/5
1,10002,1.0,温州,4.0,温州,NaN,0.0,NaN,1.0,1.0,...,1,-1,0,0,0,0,0,2,0,2014/2/26
2,10003,1.0,宜昌,3.0,宜昌,NaN,0.0,NaN,2.0,2.0,...,-1,-1,-1,1,0,0,0,0,0,2014/2/28
3,10006,4.0,南平,1.0,南平,NaN,NaN,NaN,NaN,NaN,...,-1,-1,-1,0,0,0,0,0,0,2014/2/25
4,10007,5.0,辽阳,1.0,辽阳,NaN,0.0,NaN,1.0,1.0,...,-1,-1,-1,0,0,0,0,0,0,2014/2/27

In [5]:
data3.head()

     Idx ListingInfo1    UserupdateInfo1 UserupdateInfo2
0  10001   2014/03/05       _EducationId      2014/02/20
1  10001   2014/03/05         _HasBuyCar      2014/02/20
2  10001   2014/03/05    _LastUpdateDate      2014/02/20
3  10001   2014/03/05  _MarriageStatusId      2014/02/20
4  10001   2014/03/05       _MobilePhone      2014/02/20

In [6]:
data1.isnull().sum()

Idx             0
Listinginfo1    0
LogInfo1        0
LogInfo2        0
LogInfo3        0
dtype: int64

In [7]:
data2.isnull().sum().sort_values(ascending=False).head(100)

WeblogInfo_1       29030
WeblogInfo_3       29030
UserInfo_12        18909
UserInfo_11        18909
UserInfo_13        18909
WeblogInfo_20       8050
WeblogInfo_21       3074
WeblogInfo_19       2963
WeblogInfo_2        1658
WeblogInfo_6        1651
WeblogInfo_4        1651
WeblogInfo_5        1651
UserInfo_2           302
UserInfo_4           268
WeblogInfo_24        253
WeblogInfo_23        253
WeblogInfo_25        253
WeblogInfo_44        253
WeblogInfo_45        253
WeblogInfo_26        253
WeblogInfo_46        253
WeblogInfo_47        253
WeblogInfo_43        253
WeblogInfo_31        253
WeblogInfo_27        253
WeblogInfo_28        253
WeblogInfo_29        253
WeblogInfo_30        253
WeblogInfo_49        253
WeblogInfo_32        253
                   ...
WeblogInfo_51          0
WeblogInfo_52          0
WeblogInfo_53          0
WeblogInfo_58          0
ListingInfo            0
target                 0
WeblogInfo_15          0
UserInfo_8             0
UserInfo_7             0
UserInfo_6             0
UserInfo_5             0
WeblogInfo_18          0
WeblogInfo_17          0
WeblogInfo_16          0
WeblogInfo_14          0
UserInfo_10            0
WeblogInfo_13          0
WeblogInfo_12          0
WeblogInfo_11          0
WeblogInfo_10          0
WeblogInfo_9           0
WeblogInfo_8           0
WeblogInfo_7           0
UserInfo_9             0
UserInfo_14            0
Education_Info8        0
UserInfo_24            0
Education_Info7        0
Education_Info6        0
Education_Info5        0
dtype: int64

In [8]:
data3.isnull().sum()

Idx                0
ListingInfo1       0
UserupdateInfo1    0
UserupdateInfo2    0
dtype: int64

In [9]:
data2=data2.drop(['WeblogInfo_1','WeblogInfo_3'],axis=1)

In [10]:
#查看data2 中UserInfo_11——UserInfo_13中数值类型，缺失值   以新类型 ‘-1’ 补全
data2.dtypes
data2.UserInfo_11.value_counts()
data2.UserInfo_12.value_counts()
data2.UserInfo_13.value_counts()
data2.UserInfo_11=data2.UserInfo_11.fillna('-1.0')
data2.UserInfo_12=data2.UserInfo_12.fillna('-1.0')
data2.UserInfo_13=data2.UserInfo_13.fillna('-1.0')

#查看data2 中UserInfo_2/UserInfo_4缺失值用 ‘不详’ 补全
data2.UserInfo_4=data2.UserInfo_4.fillna('不详')
data2.UserInfo_2=data2.UserInfo_2.fillna('不详')

#查看data2 中UserInfo_1/UserInfo_3缺失值以 众数 补全
data2.UserInfo_1=data2.UserInfo_1.fillna(data2.UserInfo_1.mode()[0])
data2.UserInfo_3=data2.UserInfo_3.fillna(data2.UserInfo_1.mode()[0])

#观察data2 发现所有缺失值都是数值型，所以全以 众数 补全
data2 = data2.fillna(data2.mode().T[0])

In [11]:
#观察确认 data2中缺失值情况
data2.isnull().sum().sort_values(ascending=False)

ListingInfo                   0
WeblogInfo_27                 0
WeblogInfo_53                 0
WeblogInfo_52                 0
WeblogInfo_51                 0
WeblogInfo_50                 0
WeblogInfo_49                 0
WeblogInfo_48                 0
WeblogInfo_47                 0
WeblogInfo_46                 0
WeblogInfo_45                 0
WeblogInfo_44                 0
WeblogInfo_43                 0
WeblogInfo_42                 0
WeblogInfo_41                 0
WeblogInfo_40                 0
WeblogInfo_39                 0
WeblogInfo_38                 0
WeblogInfo_37                 0
WeblogInfo_36                 0
WeblogInfo_35                 0
WeblogInfo_34                 0
WeblogInfo_33                 0
WeblogInfo_32                 0
WeblogInfo_31                 0
WeblogInfo_30                 0
WeblogInfo_29                 0
WeblogInfo_54                 0
WeblogInfo_55                 0
WeblogInfo_56                 0
                             ..
ThirdParty_Info_Period2_11    0
ThirdParty_Info_Period4_1     0
ThirdParty_Info_Period4_3     0
ThirdParty_Info_Period5_12    0
ThirdParty_Info_Period4_17    0
ThirdParty_Info_Period5_11    0
ThirdParty_Info_Period5_10    0
ThirdParty_Info_Period5_9     0
ThirdParty_Info_Period5_8     0
ThirdParty_Info_Period5_7     0
ThirdParty_Info_Period5_6     0
ThirdParty_Info_Period5_5     0
ThirdParty_Info_Period5_4     0
ThirdParty_Info_Period5_3     0
ThirdParty_Info_Period5_2     0
ThirdParty_Info_Period5_1     0
ThirdParty_Info_Period4_16    0
ThirdParty_Info_Period4_4     0
ThirdParty_Info_Period4_15    0
ThirdParty_Info_Period4_14    0
ThirdParty_Info_Period4_13    0
ThirdParty_Info_Period4_12    0
ThirdParty_Info_Period4_11    0
ThirdParty_Info_Period4_10    0
ThirdParty_Info_Period4_9     0
ThirdParty_Info_Period4_8     0
ThirdParty_Info_Period4_7     0
ThirdParty_Info_Period4_6     0
ThirdParty_Info_Period4_5     0
Idx                           0
dtype: int64

In [12]:
#观察data2中违约人数的分布target,发现这是一个样本不平衡问题
data2.target.value_counts()

0    27802
1     2198
Name: target, dtype: int64

In [13]:
'''
#(待完善)
#统计data2 每一行的缺失值个数,按Idx,Null_Count排列
#x = []
y = []
for i in range(0,len(data2)):
    x.append(i)
    y.append(data2.loc[i,:].isnull().sum())
dx = pd.Series(x)
Null_Count = pd.Series(y)
cc=DataFrame({'Idx':Idx,'Null_count':Null_count})
'''

"\n#(待完善)\n#统计data2 每一行的缺失值个数,按Idx,Null_Count排列\n#x = []\ny = []\nfor i in range(0,len(data2)):\n    x.append(i)\n    y.append(data2.loc[i,:].isnull().sum())\ndx = pd.Series(x)\nNull_Count = pd.Series(y)\ncc=DataFrame({'Idx':Idx,'Null_count':Null_count})\n"

In [14]:
#data2 中空格符处理
data2['UserInfo_9']=data2['UserInfo_9'].str.strip()
#城市名处理,去掉'市'字
data2.UserInfo_8=data2.UserInfo_8.str.rstrip('市')
data2.UserInfo_8=data2.UserInfo_8.str.strip()
#省名处理,去掉'省'字，‘市’字
data2.UserInfo_19=data2.UserInfo_19.str.rstrip('省')
data2.UserInfo_19=data2.UserInfo_19.str.rstrip('市')
data2.UserInfo_19=data2.UserInfo_19.str.strip()

'''
# data2存到本地，用sql增删改查
data2.to_csv('E:/kaggle数据/PPD/Middle1_PPD_LogInfo_3_1_Training_Set.csv')
'''

"\n# data2存到本地，用sql增删改查\ndata2.to_csv('E:/kaggle数据/PPD/Middle1_PPD_LogInfo_3_1_Training_Set.csv')\n"

In [15]:
#data3中字符大小写处理  大写转为小写
data3.UserupdateInfo1=data3.UserupdateInfo1.str.lower()
data3.UserupdateInfo1.value_counts()

_mobilephone           29921
_residencephone        28568
_residenceyears        28441
_residencetypeid       28381
_educationid           28210
_hasbuycar             28127
_marriagestatusid      27904
_qq                    27078
_residenceaddress      26759
_lastupdatedate        23129
_districtid            20215
_cityid                19968
_provinceid            19858
_realname              10322
_idnumber               7183
_phone                  3707
_relationshipid         2142
_turnover               1324
_companyphone           1284
_companyname            1052
_regstepid              1025
_age                    1003
_companyaddress          928
_flag_uctobcp            845
_flag_uctopvr            710
_gender                  656
_iscash                  587
_department              555
_workyears               511
_byuserid                368
_companytypeid           365
_bussinessaddress        311
_hasbusinesslicense      236
_incomefrom              222
_position                170
_companysizeid            99
_hassborgjj               91
_creationdate             37
_webshopurl               35
_nickname                 29
_dormitoryphone           29
_schoolname               18
_userid                   16
_contactid                16
_orderid                   8
_webshoptypeid             7
_otherwebshoptype          2
_idaddress                 2
_graduatedate              2
_graduateschool            2
_secondmobile              1
_hasppdaiaccount           1
_phonetype                 1
_secondemail               1
_ppdaiaccount              1
Name: UserupdateInfo1, dtype: int64

In [16]:
# ↓↓↓↓↓↓↓特征工程处理↓↓↓↓↓↓↓

In [17]:
#观察违约率和省份之间关系，降低UserInfo_7/UserInfo_19的二值特征的维度,取违约率为前六的省市
dummies_UserInfo_7=pd.get_dummies(data2.UserInfo_7,prefix='UserInfo_7')
UserInfo_7_cols=['UserInfo_7_山东','UserInfo_7_天津','UserInfo_7_四川','UserInfo_7_湖南','UserInfo_7_海南','UserInfo_7_辽宁']
dummies_UserInfo_7=dummies_UserInfo_7.loc[:,UserInfo_7_cols]

dummies_UserInfo_19=pd.get_dummies(data2.UserInfo_19,prefix='UserInfo_19')
UserInfo_19_cols=['UserInfo_19_天津','UserInfo_19_山东','UserInfo_19_吉林','UserInfo_19_黑龙江','UserInfo_19_辽宁','UserInfo_19_湖南']
dummies_UserInfo_19=dummies_UserInfo_19.loc[:,UserInfo_19_cols]

In [18]:
# 把UserInfo_8的城市one-hot后，带来高维灾难，通过计算feature_importances，降低维数。
dummies_UserInfo_8=pd.get_dummies(data2.UserInfo_8,prefix='UserInfo_8')
X=dummies_UserInfo_8
y=data2.target

from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt

rfr=RandomForestClassifier()
rfr.fit(X,y)
importances = rfr.feature_importances_
std = np.std([tree.feature_importances_ for tree in rfr.estimators_],axis=0)
indices = np.argsort(importances)[::-1]
ans = indices[0:10]

#取 通过计算feature_importances为前10的特征（把UserInfo_8的城市） 并可视化
print("Feature ranking:")
for f in range(10):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))
# draw histogram of feature importances
'''
plt.figure()
plt.title("Feature importances")
plt.bar(range(10), importances[ans],color="r", yerr=std[ans], align="center")
plt.xticks(range(10), ans)
plt.xlim([-1, 10])
plt.show()
'''

Feature ranking:
1. feature 235 (0.048375)
2. feature 159 (0.025675)
3. feature 339 (0.022543)
4. feature 220 (0.022376)
5. feature 294 (0.020745)
6. feature 25 (0.020006)
7. feature 373 (0.013722)
8. feature 6 (0.013331)
9. feature 129 (0.013034)
10. feature 16 (0.012876)

'\nplt.figure()\nplt.title("Feature importances")\nplt.bar(range(10), importances[ans],color="r", yerr=std[ans], align="center")\nplt.xticks(range(10), ans)\nplt.xlim([-1, 10])\nplt.show()\n'

In [19]:
#构建feature_importances dataframe
importances_df = DataFrame({'cols':X.columns,'imps':importances})
importances_df_top20 = importances_df.sort(columns='imps',ascending=False).head(20)

C:\Users\Bohemian\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

In [20]:
#通过观察 取feature_importances在前20的城市作为新的二值特征向量
importances_top20_cols=[]
for i in importances_df_top20.cols:
    importances_top20_cols.append(i)
    
dummies_UserInfo_8=dummies_UserInfo_8.loc[:,importances_top20_cols]

In [21]:
#对于UserInfo_2/4/20 这三个  城市信息字段，把其离散化为一线二线三线城市，同样需要One-hot编码。
#首先，对UserInfo_20进行处理，把‘市’字去掉
data2.UserInfo_20=data2.UserInfo_20.str.rstrip('市')
#可以采取以下转换城市字段的方式：
#1.按城市等级划分为1、2、3 线城市 （UserInfo_2）
#2.城市特征向量化                （UserInfo_4）
#3.地理位置差异特征              （UserInfo_20）
city_1=['北京','上海','广州','深圳']
city_2=['杭州','南京','济南','重庆','青岛','大连','宁波','厦门','成都','武汉','哈尔滨','沈阳','西安','长春','长沙',
        '福州','郑州','石家庄','苏州','佛山','东莞','无锡','烟台','太原','合肥','南昌','昆明','温州','淄博','唐山']
city_1_2=['一线城市','二线城市']

# step1、转换为一线、二线城市
def city_convert(UserInfo):
    for i in city_1:
        data2.loc[:,UserInfo].replace(i,'一线城市',inplace=True)
    for i in city_2:
        data2.loc[:,UserInfo].replace(i,'二线城市',inplace=True)

UserInfo_city=['UserInfo_2','UserInfo_4','UserInfo_20']
for paraments in UserInfo_city:
    city_convert(paraments)
    print ('%d 数据转换成功~')  
      
List_UserInfo_2= data2.UserInfo_2.unique().tolist()
List_UserInfo_4= data2.UserInfo_4.unique().tolist()
List_UserInfo_20= data2.UserInfo_20.unique().tolist()

#step2、转换为三线城市
UserInfo=['UserInfo_2','UserInfo_4','UserInfo_20']    
   
def city_convert_three(List_UserInfo):
    for i in List_UserInfo:
        if i not in city_1_2:
            for j in UserInfo:
                data2.loc[:,j].replace(i,'三线城市',inplace=True)

city_convert_three(List_UserInfo_2)
city_convert_three(List_UserInfo_4)
city_convert_three(List_UserInfo_20)

%d 数据转换成功~
%d 数据转换成功~
%d 数据转换成功~

In [22]:
#分别观察UserInfo_2，UserInfo_4，UserInfo_20 修改后的分布
#发现UserInfo_20修改后全为三线城市：说明UserInfo_20不应该这样划分
data2.UserInfo_4.value_counts()
#待完善

三线城市    19079
二线城市     7913
一线城市     3008
Name: UserInfo_4, dtype: int64

In [23]:
dummies_UserInfo_2=pd.get_dummies(data2.UserInfo_2,prefix='UserInfo_2')
dummies_UserInfo_4=pd.get_dummies(data2.UserInfo_4,prefix='UserInfo_4')
dummies_UserInfo_20=pd.get_dummies(data2.UserInfo_20,prefix='UserInfo_20')
#由于此前按三线城市对UserInfo_20划分，而UserInfo_20字段中权威三线城市，所以此字段对结果无影响，可以drop()删去

In [24]:
data2.ListingInfo.head()

0     2014/3/5
1    2014/2/26
2    2014/2/28
3    2014/2/25
4    2014/2/27
Name: ListingInfo, dtype: object

In [25]:
#观察 ListingInfo（成交时间）与target(是否违约)之间的关系
import matplotlib.pyplot as plt
from datetime import date   
train_1 = data2[data2.target==1]
temp = train_1[['ListingInfo'  ,'target']].groupby('ListingInfo').agg('sum')*2
temp = temp.rename(columns={'target':'count_1'})
temp['date'] = temp.index

temp.date = temp.date.apply(lambda x:(date(int(x.split('/')[0]),int(x.split('/')[1]),int(x.split('/')[2]))-date(2013,11,1)).days)
temp = temp.sort(columns='date')

ax = temp.plot(x='date',y='count_1',title="train set")

train_0 = data2[data2.target==0]
#train_0.target = [1 for _ in range(len(train_0))]
temp_0 = train_0[['ListingInfo','target']].groupby('ListingInfo').agg('count')
temp_0 = temp_0.rename(columns={'target':'count_0'})
temp_0['date'] = temp_0.index
temp_0.date = temp_0.date.apply(lambda x:(date(int(x.split('/')[0]),int(x.split('/')[1]),int(x.split('/')[2]))-date(2013,11,1)).days)
temp_0 = temp_0.sort(columns='date')

temp_0.plot(x='date',y='count_0',ax=ax)

'''
plt.xlabel('Date(20131101~20141109)')
plt.ylabel('count')  
plt.show()
plt.close()
'''
#通过观察 发现违约率与成交时间有关，因此把ListingInfo日期离散化

C:\Users\Bohemian\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
C:\Users\Bohemian\Anaconda3\lib\site-packages\ipykernel\__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

"\nplt.xlabel('Date(20131101~20141109)')\nplt.ylabel('count')  \nplt.show()\nplt.close()\n"

In [26]:
#测试****************
date=temp.date
# 成交日期变为步长为10的离散属性
bins=[]
for i in range(0,380,10):
    bins.append(i)
    
group_names=[]
for i in range(1,len(bins)):
    group_names.append(i)
discrete_temp_date=pd.cut(date,bins,right=False,labels=group_names)
discrete_temp_date

ListingInfo
2013/11/1      1
2013/11/4      1
2013/11/5      1
2013/11/6      1
2013/11/7      1
2013/11/8      1
2013/11/9      1
2013/11/11     2
2013/11/12     2
2013/11/13     2
2013/11/14     2
2013/11/15     2
2013/11/16     2
2013/11/18     2
2013/11/19     2
2013/11/20     2
2013/11/21     3
2013/11/22     3
2013/11/25     3
2013/11/26     3
2013/11/28     3
2013/11/29     3
2013/11/30     3
2013/12/2      4
2013/12/3      4
2013/12/4      4
2013/12/5      4
2013/12/6      4
2013/12/9      4
2013/12/10     4
              ..
2014/10/5     34
2014/10/6     34
2014/10/7     35
2014/10/8     35
2014/10/9     35
2014/10/10    35
2014/10/11    35
2014/10/12    35
2014/10/13    35
2014/10/14    35
2014/10/15    35
2014/10/16    35
2014/10/17    36
2014/10/18    36
2014/10/20    36
2014/10/21    36
2014/10/22    36
2014/10/23    36
2014/10/24    36
2014/10/25    36
2014/10/26    36
2014/10/27    37
2014/10/28    37
2014/10/29    37
2014/10/30    37
2014/10/31    37
2014/11/1     37
2014/11/3     37
2014/11/4     37
2014/11/5     37
Name: date, dtype: category
Categories (37, int64): [1 < 2 < 3 < 4 ... 34 < 35 < 36 < 37]

In [27]:
#新增一个date列，存放交易时间的离散值
from datetime import date
data2['date'] = data2.ListingInfo.apply(lambda x:(date(int(x.split('/')[0]),int(x.split('/')[1]),int(x.split('/')[2]))-date(2013,11,1)).days)
new_date=data2['date']

# 成交日期变为步长为10的离散属性
bins=[]
for i in range(0,390,10):
    bins.append(i)
    
group_names=[]
for i in range(1,len(bins)):
    group_names.append(i)

discrete_temp_date=pd.cut(new_date,bins,right=False,labels=group_names)
data2.date=discrete_temp_date

In [28]:
#data2中的ListingInfo字段被date字段所替换
data2.shape
data2.drop('ListingInfo',axis=1,inplace=True)
data2.shape

(30000, 226)

In [29]:
data2.head()

,Idx,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,WeblogInfo_2,WeblogInfo_4,WeblogInfo_5,WeblogInfo_6,WeblogInfo_7,...,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target,date
0,10001,1.0,一线城市,4.0,一线城市,1.0,1.0,1.0,1.0,14,...,222,-1,0,0,0,0,0,1,0,13
1,10002,1.0,二线城市,4.0,二线城市,0.0,1.0,1.0,1.0,14,...,1,-1,0,0,0,0,0,2,0,12
2,10003,1.0,三线城市,3.0,三线城市,0.0,2.0,2.0,2.0,9,...,-1,-1,-1,1,0,0,0,0,0,12
3,10006,4.0,三线城市,1.0,三线城市,0.0,1.0,1.0,1.0,2,...,-1,-1,-1,0,0,0,0,0,0,12
4,10007,5.0,三线城市,1.0,三线城市,0.0,1.0,1.0,1.0,3,...,-1,-1,-1,0,0,0,0,0,0,12

In [30]:
new_data2=pd.concat([data2,dummies_UserInfo_7,dummies_UserInfo_19,dummies_UserInfo_8,dummies_UserInfo_2,dummies_UserInfo_4],axis=1)
#通过观察发现UserInfo_24的特征取值95%都是‘D’，所以可以删除这一字段drop()
data2.UserInfo_24.value_counts()
new_data2=new_data2.drop(['UserInfo_7','UserInfo_19','UserInfo_8','UserInfo_2','UserInfo_4','UserInfo_20','UserInfo_24'],axis=1)

'''
#data2中需要添加的字段
dummies_UserInfo_7
dummies_UserInfo_19
dummies_UserInfo_8
dummies_UserInfo_2
dummies_UserInfo_4
date

#需要删除
UserInfo_7
UserInfo_19
UserInfo_8
UserInfo_2
UserInfo_4
UserInfo_20
ListingInfo
'''

'\n#data2中需要添加的字段\ndummies_UserInfo_7\ndummies_UserInfo_19\ndummies_UserInfo_8\ndummies_UserInfo_2\ndummies_UserInfo_4\ndate\n\n#需要删除\nUserInfo_7\nUserInfo_19\nUserInfo_8\nUserInfo_2\nUserInfo_4\nUserInfo_20\nListingInfo\n'

In [31]:
#step1: 确认变量类型 ,object or int/float?
#step2: 确认int/float 取值范围，是否需要转换int/float为object 以便 one-hot
#data2_cols = data2.columns   
new_data2_object_cols = new_data2.columns[new_data2.dtypes == 'object']
new_data2_int_cols = new_data2.columns[new_data2.dtypes != 'object']

In [32]:
new_data2_object_cols

Index(['UserInfo_9', 'UserInfo_11', 'UserInfo_12', 'UserInfo_13',
       'UserInfo_22', 'UserInfo_23', 'Education_Info2', 'Education_Info3',
       'Education_Info4', 'Education_Info6', 'Education_Info7',
       'Education_Info8', 'WeblogInfo_19', 'WeblogInfo_20', 'WeblogInfo_21'],
      dtype='object')

In [33]:
dummies_data2_object=pd.get_dummies(new_data2[new_data2_object_cols],prefix=new_data2_object_cols)

In [34]:
dummies_data2_object.head()

,UserInfo_9_不详,UserInfo_9_中国电信,UserInfo_9_中国移动,UserInfo_9_中国联通,UserInfo_11_0.0,UserInfo_11_1.0,UserInfo_11_-1.0,UserInfo_12_0.0,UserInfo_12_1.0,UserInfo_12_-1.0,...,WeblogInfo_20_I5,WeblogInfo_20_I6,WeblogInfo_20_I7,WeblogInfo_20_I8,WeblogInfo_20_O,WeblogInfo_20_U,WeblogInfo_21_A,WeblogInfo_21_B,WeblogInfo_21_C,WeblogInfo_21_D
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [35]:
new_data2=pd.concat([new_data2,dummies_data2_object],axis=1)
new_data2.shape

(30000, 382)

In [36]:
#修改后的data2数据集
new_data2=new_data2.drop(new_data2_object_cols,axis=1)
new_data2.to_csv('E:/kaggle数据/PPD/new_data2.csv',index=False)
print('new_data2保存到本地')

new_data2保存到本地

In [37]:
#data2数据格式整理结束 需要把data1/data2/data3通过间Idx连接起来
#首先观察data1/data3的特征，由于之前已光测过data1/data3都没有缺失值，因此需要看看是否需要one-hot
data1_objects_columns=data1.columns[data1.dtypes =='object']
data3_objects_columns=data3.columns[data3.dtypes =='object']
data1_objects_columns

Index(['Listinginfo1', 'LogInfo3'], dtype='object')

In [38]:
data3.head()

     Idx ListingInfo1    UserupdateInfo1 UserupdateInfo2
0  10001   2014/03/05       _educationid      2014/02/20
1  10001   2014/03/05         _hasbuycar      2014/02/20
2  10001   2014/03/05    _lastupdatedate      2014/02/20
3  10001   2014/03/05  _marriagestatusid      2014/02/20
4  10001   2014/03/05       _mobilephone      2014/02/20

In [39]:
#data1[data1_objects_columns].head()
data1.head()

     Idx Listinginfo1  LogInfo1  LogInfo2    LogInfo3
0  10001   2014-03-05       107         6  2014-02-20
1  10001   2014-03-05       107         6  2014-02-23
2  10001   2014-03-05       107         6  2014-02-24
3  10001   2014-03-05       107         6  2014-02-25
4  10001   2014-03-05       107         6  2014-02-27

In [40]:
#观察data1表中 去重的Idx的情况
data1.drop_duplicates(subset=['Idx'], keep='first')

          Idx Listinginfo1  LogInfo1  LogInfo2    LogInfo3
0       10001   2014-03-05       107         6  2014-02-20
19      10002   2014-02-26        10         0  2013-06-21
43      10003   2014-02-28         1         0  2014-02-20
57      10006   2014-02-25         1         0  2014-02-20
64      10007   2014-02-27         1         2  2014-02-20
69      10008   2014-02-27         1         0  2014-02-20
79      10011   2014-02-24       -10        13  2014-02-21
102     10015   2014-02-28         1         2  2014-02-20
111     10019   2014-02-24         1         0  2013-09-11
141     10021   2014-02-27         1         2  2014-02-20
151     10022   2014-02-25         1         0  2014-02-20
170     10024   2014-03-06         1         0  2014-02-20
179     10026   2014-03-04       -10        13  2014-03-02
219     10027   2014-02-26         1         2  2014-02-20
225     10031   2014-03-07       -10        13  2014-03-05
259     10032   2014-02-26       107         6  2014-02-21
273     10036   2014-02-27         1         2  2014-02-20
284     10039   2014-02-22       107         6  2014-02-20
308     10040   2014-02-23         1         0  2014-02-20
317     10044   2014-02-24         1         0  2014-02-20
325     10050   2014-02-26       107         6  2014-02-22
350     10054   2014-02-24       107         6  2014-02-21
363     10059   2014-02-26         1         0  2011-05-26
423      1006   2013-11-18         1         0  2013-10-30
441     10063   2014-02-22         1         0  2014-02-20
454     10067   2014-02-25         1         0  2014-02-21
469     10068   2014-03-04       107         6  2014-02-21
507     10069   2014-02-24         1         0  2014-02-21
524      1007   2013-11-18       103         6  2013-11-13
563     10070   2014-03-03         1         0  2014-02-21
...       ...          ...       ...       ...         ...
579916   9905   2014-03-04       -10        13  2014-03-02
579942    991   2013-11-21         1         0  2013-11-12
579966   9912   2014-03-05         1         4  2014-03-05
579982   9914   2014-03-07         2        21  2014-03-07
580009   9918   2014-02-20        -4         6  2014-02-20
580013   9919   2014-02-28         1         0  2013-10-11
580032    992   2013-11-15       -10        13  2013-11-13
580056   9921   2014-02-26         2        21  2014-02-26
580062   9923   2014-03-10        -4         6  2014-02-25
580074   9926   2014-02-21         2        21  2014-02-21
580077   9935   2014-02-24         2        21  2014-02-24
580088   9936   2014-02-27       -10        13  2014-02-20
580116   9938   2014-02-24       107         6  2014-02-20
580126   9941   2014-02-21         2        21  2014-02-21
580128   9952   2014-02-22         1         0  2014-02-20
580144   9964   2014-02-21       -10        13  2014-02-20
580154   9966   2014-02-23       -10        13  2014-02-23
580160   9967   2014-02-24        10         0  2013-07-06
580183   9974   2014-02-28         1         0  2014-02-20
580202   9979   2014-02-24        10         0  2013-06-17
580235   9983   2014-02-25       107         6  2014-02-20
580244   9984   2014-02-22       100         6  2012-12-22
580383   9986   2014-02-25         1         2  2014-02-20
580394   9989   2014-02-24         1         2  2014-02-20
580467   9990   2014-02-28         1         0  2014-02-20
580474   9991   2014-02-22         1         0  2013-12-17
580493   9992   2014-02-28       107         6  2014-02-22
580515   9995   2014-02-24         1        20  2014-02-20
580521   9997   2014-02-28       107         6  2014-02-20
580542   9998   2014-03-05         1         0  2014-02-20

[28987 rows x 5 columns]

In [41]:
new_data2.drop_duplicates(subset=['Idx'], keep='first').head(10)

,Idx,UserInfo_1,UserInfo_3,WeblogInfo_2,WeblogInfo_4,WeblogInfo_5,WeblogInfo_6,WeblogInfo_7,WeblogInfo_8,WeblogInfo_9,...,WeblogInfo_20_I5,WeblogInfo_20_I6,WeblogInfo_20_I7,WeblogInfo_20_I8,WeblogInfo_20_O,WeblogInfo_20_U,WeblogInfo_21_A,WeblogInfo_21_B,WeblogInfo_21_C,WeblogInfo_21_D
0,10001,1.0,4.0,1.0,1.0,1.0,1.0,14,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,10002,1.0,4.0,0.0,1.0,1.0,1.0,14,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,10003,1.0,3.0,0.0,2.0,2.0,2.0,9,3,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,10006,4.0,1.0,0.0,1.0,1.0,1.0,2,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,10007,5.0,1.0,0.0,1.0,1.0,1.0,3,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,10008,1.0,5.0,0.0,2.0,2.0,2.0,4,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,10011,1.0,3.0,0.0,13.0,1.0,13.0,15,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,10015,4.0,5.0,0.0,12.0,6.0,12.0,8,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,10019,1.0,6.0,0.0,10.0,6.0,10.0,19,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,10021,3.0,5.0,0.0,1.0,1.0,1.0,6,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [42]:
#确认以下三个维度：每个Idx 1、登录次数 LogInfo3  2、每种操作代码的次数 LogInfo1  3、操作类别的次数 LogInfo2
import collections
train_loginfo = pd.read_csv('E:/kaggle数据/PPD/Training Set/PPD_LogInfo_3_1_Training_Set.csv')
Loginfo_number = collections.defaultdict(list) ### 用户操作的次数
Loginfo_category = collections.defaultdict(set) ###用户操作的种类数
Loginfo_times = collections.defaultdict(list) ### 用户分登录次数
Loginfo_date = collections.defaultdict(list) #### 用户借款成交与登录时间跨度

with open('E:/kaggle数据/PPD/Training Set/PPD_LogInfo_3_1_Training_Set.csv' ,'r') as f:
    f.readline().strip().split(",")
    for line in f:
        cols = line.strip().split(",") ### cols 是list结果
        Loginfo_date[cols[0]].append(cols[1])
        Loginfo_number[cols[0]].append(cols[2])
        Loginfo_category[cols[0]].add(cols[3])        
        Loginfo_times[cols[0]].append(cols[4])
    print(u'提取信息完成')

提取信息完成

In [45]:
import datetime as dt
Loginfo_number_ = collections.defaultdict(int)  ### 用户操作的次数
Loginfo_category_ = collections.defaultdict(int) ###用户操作的种类数
Loginfo_times_ = collections.defaultdict(int)  ### 用户分登录次数
Loginfo_date_ = collections.defaultdict(int) #### 用户借款成交与登录时间跨度

for key in Loginfo_date.keys():
    Loginfo_times_[key] = len(Loginfo_times[key])
    Loginfo_delta_date = dt.datetime.strptime(Loginfo_date[key][0] ,'%Y-%m-%d') - dt.datetime.strptime(list(set(Loginfo_times[key]))[0] ,'%Y-%m-%d')
    #if delta_date.days  >=0 :
    Loginfo_date_[key] = abs(Loginfo_delta_date.days)  #abs() 函数返回数字的绝对值。
    #else:
        #loginfo_delta_date_ = dt.datetime.strptime(loginfo_date[key][0] ,'%Y/%m/%d') - dt.datetime.strptime(list(set(loginfo_times[key]))[-1] ,'%Y/%m/%d')
        #loginfo_date_[key] = abs(delta_date_.days)
    Loginfo_number_[key] = len(Loginfo_number[key])
    Loginfo_category_[key] = len(Loginfo_category[key])

print('信息处理完成')

信息处理完成

In [46]:
## 建立一个DataFrame  data1转为需要的格式 Loginfo
Log_Idx_ = Loginfo_date_.keys() #### list
Log_numbers_ = Loginfo_number_.values()
Log_categorys_ = Loginfo_category_.values()
Log_times_ = Loginfo_times_.values()
Log_dates_ = Loginfo_date_.values()
Loginfo_df = pd.DataFrame({'Idx':list(Log_Idx_) , 'Log_numbers':list(Log_numbers_) ,'Log_categorys':list(Log_categorys_ ),'Log_times':list(Log_times_ ),'Log_dates':list(Log_dates_) })

#data1表变为Loginfo_df表
Loginfo_df.head()
Loginfo_df.to_csv('E:/kaggle数据/PPD/new_data1.csv',index=False,encoding='utf-8')
print('new_data1保存到本地')

new_data1保存到本地

In [47]:
##  userupdateinfo表
Userupdate_info_number = collections.defaultdict(list) ### 用户信息更新的次数
Userupdate_info_category = collections.defaultdict(set) ###用户信息更新的种类数
Userupdate_info_times = collections.defaultdict(list) ### 用户分几次更新了
Userupdate_info_date = collections.defaultdict(list) #### 用户借款成交与信息更新时间跨度

with open('E:/kaggle数据/PPD/Training Set/PPD_Userupdate_Info_3_1_Training_Set.csv' ,'r') as f:
    f.readline().strip().split(",")
    for line in f:
        cols = line.strip().split(",") ### cols 是list结果
        Userupdate_info_date[cols[0]].append(cols[1])
        Userupdate_info_number[cols[0]].append(cols[2])
        Userupdate_info_category[cols[0]].add(cols[2])
        Userupdate_info_times[cols[0]].append(cols[3])
    print(u'提取信息完成')

Userupdate_info_number_ = collections.defaultdict(int) ### 用户信息更新的次数
Userupdate_info_category_ = collections.defaultdict(int) ###用户信息更新的种类数
Userupdate_info_times_ = collections.defaultdict(int) ### 用户分几次更新了
Userupdate_info_date_ = collections.defaultdict(int) #### 用户借款成交与信息更新时间跨度

for key in Userupdate_info_date.keys():
    #注意 set()的用法，对于列List中相同的元素，取唯一值（去重后的值）
    #用户更新几次，取决于‘修改时间’UserupdateInfo2有几个不同的值，可用set（）函数解决
    Userupdate_info_times_[key] = len(set(Userupdate_info_times[key]))
    
    #注意 set()的用法，对于列List中相同的元素，取唯一值（去重后的值）
    delta_date = dt.datetime.strptime(Userupdate_info_date[key][0] ,'%Y/%m/%d') - dt.datetime.strptime(list(set(Userupdate_info_times[key]))[0] ,'%Y/%m/%d')
    #if delta_date.days  >=0 :
    Userupdate_info_date_[key] = abs(delta_date.days)
    #else:
        #delta_date_ = dt.datetime.strptime(userupdate_info_date[key][0] ,'%Y/%m/%d') - dt.datetime.strptime(list(set(userupdate_info_times[key]))[0] ,'%Y/%m/%d')
        #userupdate_info_date_[key] = abs(delta_date_.days)
    
    Userupdate_info_number_[key] = len(Userupdate_info_number[key])
    Userupdate_info_category_[key] = len(Userupdate_info_category[key])

print('信息处理完成')

## 建立一个DataFrame
Idx_ = Userupdate_info_date_.keys() #### list
numbers_ = Userupdate_info_number_.values()
categorys_ = Userupdate_info_category_.values()
times_ = Userupdate_info_times_.values()
dates_ = Userupdate_info_date_.values()
Userupdate_df = pd.DataFrame({'Idx':list(Idx_ ), 'numbers':list(numbers_) ,'categorys':list(categorys_) ,'times':list(times_ ),'dates':list(dates_ )})

#data3表变为Userupdate_df表
Userupdate_df.head()
Userupdate_df.to_csv('E:/kaggle数据/PPD/new_data3.csv',index=False,encoding='utf-8')
print('new_data3保存到本地')

提取信息完成
信息处理完成
new_data3保存到本地

In [48]:
#↓↓↓↓↓↓↓↓↓↓↓↓↓↓合并三个表 ↓↓↓↓↓↓↓↓↓↓

In [158]:
train_all = pd.merge(Loginfo_df,Userupdate_df,how='left',on='Idx')
train_all = pd.merge(new_data2,train_all, how='left', on='Idx')

In [159]:
train_all.isnull().sum().tail(10)

#为什么？？、难道是new_data2没有与Loginfo_df，Userupdate_df一样的Idx??

WeblogInfo_21_C        0
WeblogInfo_21_D        0
Log_categorys      30000
Log_dates          30000
Log_numbers        30000
Log_times          30000
categorys          30000
dates              30000
numbers            30000
times              30000
dtype: int64

In [160]:
Userupdate_df.isnull().sum().tail()

Idx          0
categorys    0
dates        0
numbers      0
times        0
dtype: int64

In [161]:
new_data2.isnull().sum().tail()

WeblogInfo_20_U    0
WeblogInfo_21_A    0
WeblogInfo_21_B    0
WeblogInfo_21_C    0
WeblogInfo_21_D    0
dtype: int64

In [49]:
a1=pd.read_csv('E:/kaggle数据/PPD/new_data1.csv')
a2=pd.read_csv('E:/kaggle数据/PPD/new_data2.csv',encoding='gb18030')
a3=pd.read_csv('E:/kaggle数据/PPD/new_data3.csv')
all_data=pd.merge(a1,a2,how='left',on='Idx')
all_data=pd.merge(a3,all_data,how='left',on='Idx')
all_data=all_data.fillna(all_data.median())

In [50]:
all_data.isnull().sum().sort_values(ascending=False)
all_data.shape

(29995, 375)

In [51]:
all_data.head()

,Idx,categorys,dates,numbers,times,Log_categorys,Log_dates,Log_numbers,Log_times,UserInfo_1,...,WeblogInfo_20_I5,WeblogInfo_20_I6,WeblogInfo_20_I7,WeblogInfo_20_I8,WeblogInfo_20_O,WeblogInfo_20_U,WeblogInfo_21_A,WeblogInfo_21_B,WeblogInfo_21_C,WeblogInfo_21_D
0,32343,14,8,17,2,6.0,0.0,11.0,11.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40097,12,1,12,1,6.0,1.0,11.0,11.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,75245,12,10,12,1,5.0,5.0,8.0,8.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,50446,22,9,33,5,6.0,5.0,93.0,93.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,60177,9,6,9,2,5.0,3.0,15.0,15.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [52]:
#处理训练样本分布不均衡问题
from sklearn.cross_validation import train_test_split

believe_indices = all_data[all_data.target == 0.0].index
random_indices = np.random.choice(believe_indices, 2117, replace=False)
believe_sample = all_data.loc[random_indices]
unbelieve_indices = all_data[all_data.target == 1.0].index
unbelieve_sample = all_data.loc[unbelieve_indices]
new_all_data=pd.concat([believe_sample,unbelieve_sample],axis=0)

y=new_all_data.target
X=new_all_data.drop('target',axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [80]:
from sklearn.ensemble import RandomForestClassifier
rfr=RandomForestClassifier(n_estimators =100,max_features=20,max_depth=None)
model=rfr.fit(X_train,y_train)
from sklearn.cross_validation import cross_val_score
score=cross_val_score(model,X_train,y_train,cv=5)
result=model.predict(X_test)

In [81]:
score

array([ 0.6846543 ,  0.67959528,  0.67284992,  0.64695946,  0.66216216])

In [84]:
from sklearn.externals import joblib
joblib.dump(model, "E:/kaggle数据/PPD/model/train_model.m")
print('模型保存到本地')

模型保存到本地

In [86]:
from sklearn.learning_curve import learning_curve
# 用sklearn的learning_curve得到training_score和cv_score，使用matplotlib画出learning curve
def plot_learning_curve(estimator, title, X, y, ylim=None, cv=None, n_jobs=-1,train_sizes=np.linspace(.05, 1., 30), verbose=0, plot=True):

    train_sizes, train_scores, test_scores = learning_curve(estimator, X, y, cv=cv, n_jobs=n_jobs, train_sizes=train_sizes, verbose=verbose)
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    
    if plot:
        plt.figure()
        plt.title(title)
        if ylim is not None:
            plt.ylim(*ylim)
        plt.xlabel("samples")
        plt.ylabel('score')
        plt.gca().invert_yaxis()
        plt.grid()
    
        plt.fill_between(train_sizes, train_scores_mean - train_scores_std, train_scores_mean + train_scores_std, 
                         alpha=0.1, color="b")
        plt.fill_between(train_sizes, test_scores_mean - test_scores_std, test_scores_mean + test_scores_std, 
                         alpha=0.1, color="r")
        plt.plot(train_sizes, train_scores_mean, 'o-', color="b", label="train_set_score")
        plt.plot(train_sizes, test_scores_mean, 'o-', color="r", label="cross_test_score")
    
        plt.legend(loc="best")
        
        plt.draw()
        plt.gca().invert_yaxis()
        plt.show()
    
    midpoint = ((train_scores_mean[-1] + train_scores_std[-1]) + (test_scores_mean[-1] - test_scores_std[-1])) / 2
    diff = (train_scores_mean[-1] + train_scores_std[-1]) - (test_scores_mean[-1] - test_scores_std[-1])
    return midpoint, diff

In [87]:
train_sizes, train_scores, test_scores=learning_curve(model,X_train,y_train,cv=5)
plot_learning_curve(model, "learning curve", X_train,y_train)

KeyboardInterrupt:

In [91]:
from sklearn.grid_search import GridSearchCV
tuned_parameters = [{'n_estimators':[10,100,500], 'max_features':[20,30,40] }]   

scores = ['r2']
for score in scores:   
    clf = GridSearchCV(RandomForestClassifier(), tuned_parameters, cv=5, scoring=score)
    clf.fit(X_train, y_train)
    print("正在计算最佳参数：")
    #best_estimator_ returns the best estimator chosen by the search
    print(clf.best_estimator_)
    print ("")
    print("得分分别是:")
    print ("")
    #grid_scores_的返回值:
    #    * a dict of parameter settings
    #    * the mean score over the cross-validation folds 
    #    * the list of scores for each fold
    for params, mean_score, scores in clf.grid_scores_:
        print("%0.3f (+/-%0.03f) for %r"
              % (mean_score, scores.std() / 2, params))
    print ("")

别！喝！咖！啡！了！最佳参数找到了亲！！：

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=40, max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

得分分别是:

-0.558 (+/-0.029) for {'n_estimators': 10, 'max_features': 20}
-0.338 (+/-0.033) for {'n_estimators': 100, 'max_features': 20}
-0.301 (+/-0.017) for {'n_estimators': 500, 'max_features': 20}
-0.481 (+/-0.018) for {'n_estimators': 10, 'max_features': 30}
-0.323 (+/-0.012) for {'n_estimators': 100, 'max_features': 30}
-0.292 (+/-0.032) for {'n_estimators': 500, 'max_features': 30}
-0.513 (+/-0.031) for {'n_estimators': 10, 'max_features': 40}
-0.328 (+/-0.022) for {'n_estimators': 100, 'max_features': 40}
-0.276 (+/-0.037) for {'n_estimators': 500, 'max_features': 40}

In [ ]:
'''
import matplotlib.pyplot as plt
plt.title("I'm a scatter in train_data2.")
plt.xlim(xmax=len(data2),xmin=0)
plt.ylim(ymax=100,ymin=0)
plt.plot(cc.Idx,cc.Null_count,'ro')
plt.show()
'''

In [ ]:
'''
test_data2=pd.read_csv('E:/kaggle数据/PPD/Test Set/PPD_Master_GBK_2_Test_Set.csv',encoding='gb18030')
x = []
y = []
for i in range(0,len(test_data2)):
    x.append(i)
    y.append(test_data.loc[i,:].isnull().sum())
Idx = pd.Series(x)
Null_count = pd.Series(y)
cc=pd.DataFrame({'Idx':Idx,'Null_count':Null_count})
'''

In [ ]:
'''
plt.title("I'm a scatter in test_data2.")
plt.xlim(xmax=len(test_data),xmin=0)
plt.ylim(ymax=100,ymin=0)
plt.plot(cc.Idx,cc.Null_count,'ro')
plt.show()
'''

Automatically created module for IPython interactive environment

KeyboardInterrupt:

dtype('int32')

Automatically created module for IPython interactive environment

(40, 20)